body {
  background-color: #6d6b8b;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  text-align: center;
  width: 60%;
  margin-top: 5rem;
  background-color: #6d6b8b;
  font-family: cursive;
}

.app h2 {
  color: rgb(155, 14, 14);
  font-weight: 900;
  font-size: 1.8rem;
}


form{

  display: flex;
  justify-content: center;
  text-align: center;
}
.todo-input {
  padding: 10px;
  font-size: 1rem;
  width: 70%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 60%;
}

.add-button {
  padding: 10px;
  font-size: 1rem;
  background-color: rgb(43, 132, 167);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.ok-logo {
  width: 30px;
  margin: 10px;
  cursor: pointer;
  margin-right: 2rem;
}

.todoText {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.todo-list {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin: 10px;
  background-color: #011f26;
}

.text-ok {
  display: flex;
  align-items: center;
 
}

.clear-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button {
  padding: 10px;
  font-size: 1rem;
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 100px;
}

.delete-logo {
  width: 40px;
  margin: 10px;
  cursor: pointer;
}
